
demos/

garbage_notebooks/

*.pyc

output_spree_demos/

*.db

*.xml

demos2/

*.dm_60

*.txt

*.pk3

*.bat

*.mp3

*.avi

notebooks/003\. analyze and cut demos qcon03\.ipynb

notebooks/002\. make dictionary and fill db qcon03\.ipynb

*.xlsx

*.dm_57

*.dm_58

*.dm_59

*.sfk

notebooks/003. analyze and cut demos be.ipynb
